.Rproj.user
.Rhistory

# raw_data
raw_data/~*
raw_data/annotation_table.tsv

# NGSADdmix
hpc/NGSadmix/accelerate_fb_pcangst_2.K2.a625.0.qopt
hpc/NGSadmix/accelerate_fb_pcangst_2.cov

# msmc
hpc/msmc/bootstrap_results

# dadi
hpc/dadi/optim
hpc/dadi/dadi.thin1k.txt
hpc/dadi/seedms
hpc/dadi/test.msout


# ms
hpc/ms/*.gff

# SF2
hpc/SF2/*.gff

# angsd
hpc/angsd/*.txt
hpc/angsd/*.pestPG
hpc/angsd/*.tsv

# symbiodinium_profiles
hpc/symbiodinium_profiles/genome_kraken_mpa

# repeats
hpc/repeats/


# symbiont_mito
hpc/symbiodinium/*.fasta