.Rproj.user
.Rhistory

# raw_data
raw_data/~*

# NGSADdmix
hpc/NGSadmix/accelerate_fb_pcangst_2.K2.a625.0.qopt
hpc/NGSadmix/accelerate_fb_pcangst_2.cov

# msmc
hpc/msmc/bootstrap_results

# dadi
hpc/dadi/optim
hpc/dadi/dadi.thin1k.txt